<h1>Elasticsearch Sample</h1>

<%= form_with(url: root_path, data: {remote: false}, method: :get) do |form| %>
  <%= form.text_field(:keyword, value: @keyword) %>
  <%= form.submit('Search') %>
  <p>（全<%= number_with_delimiter(Document.count) %>項）</p>
<% end %>

<hr>

<ul>
  <% @documents.each do |document| %>
    <li><%= link_to(document.title, document.url) %></li>
  <% end %>
</ul>

<%= paginate @documents %>
