<h1>Documents#index</h1>
<p>Find me in app/views/documents/index.html.erb</p>

<%= form_with(url: root_path, data: {remote: false}) do |form| %>
  <%= form.text_field(:keyword) %>
  <%= form.submit('Search') %>
<% end %>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Abstract</th>
  </tr>
  </thead>
  <tbody>
  <% @documents.each do |document| %>
    <tr>
      <td><%= document.id %></td>
      <td><%= link_to(document.title, document.url) %></td>
      <td><%= document.abstract %></td>
    </tr>
  <% end %>
  </tbody>
</table>